name: Run Iglesia Weekly Function

on:
  schedule:
    # Ejecuta este script cada domingo a las 00:00 AM UTC.
    # Puedes ajustar el '0 0 * * 0' a la hora y d铆a que prefieras (0 para domingo).
    # Ejemplo: '0 8 * * 0' ser铆a cada domingo a las 8:00 AM UTC.
    - cron: "30 5 * * 2"
  workflow_dispatch: # Permite ejecutar el workflow manualmente

jobs:
  run_weekly_function:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Necesitas permisos para escribir si esta funci贸n tambi茅n genera archivos que debas commitear

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Necesario para operaciones de Git

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install dependencies with uv
        run: uv pip install . --system

      - name: Run the weekly specific function
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          # Incluye cualquier otra variable de entorno que tu funci贸n semanal necesite
          # Por ejemplo, si tu funci贸n semanal tambi茅n maneja emails o carpetas de res煤menes diferentes
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
          BREVO_TOKEN: ${{ secrets.BREVO_TOKEN }}
          SUMMARIES_FOLDER: summaries-remote # O una carpeta diferente si esta funci贸n la usa
        run: |
          echo "Running weekly specific function..."
          uv run python main.py pipeline-semanal
      - name: Configure Git user
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions-bot@users.noreply.github.com" # Email v谩lido para bots de GitHub

      - name: Commit and push changes
        run: |
          git pull 
          git add brevo_contacts.csv/ 
          if git diff --staged --quiet; then
            echo "No changes to commit in summaries directory."
          else
            COMMIT_DATE=$(date +'%Y-%m-%d %H:%M:%S')
            git commit -m " Brevo contacts updated: ${COMMIT_DATE}"
            git push
            echo "Changes committed and pushed."
          fi
